@import url('https://fonts.googleapis.com/css2?family=Allura&family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Doto:wght@100..900&display=swap');
*{
    box-sizing: border-box;   
}


/* Style the body*/
body{
    font-family: Arial;
    margin: 0;
}


/* estilos del header */
header{   
    position: sticky; 
    top: 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}
.imgLogo{
    width: 250px;
    height: 250px;
    border-radius: 60%;
}
h1{
    font-family: allura;
    font-size: 100px;
    font-weight: 500;    
}


/* estilos de la barra de navegacion */
nav{
    position: sticky;
    top: 259px;
    display: flex;
    background-color: white;
    background-image: linear-gradient(rgba(250, 235, 215, 0.43), black);
}
nav a{
    color: white;
    padding: 25px 20px;
    text-decoration: none;
    
}


/* Indica en que seccion de la pagina que estamos situados */
.aqui{
    color: white;
    background-image: linear-gradient(white, rgba(250, 235, 215, 0.43));
    color: black;
}


/* Cambio de color del la barra de navegacion */
nav a:hover{
    background-image: linear-gradient(white, rgba(31, 31, 31, 0.25));
    color: black;
}


/* Estilos de la seccion principal */
h2{
    padding: 30px 0 100px 0;
    text-align: center;
    font-size: 100px;
    font-family: "Charm", cursive;
    border-bottom: 4px solid black;
}
.info{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px solid black;
}
.imgInfo{
    margin:  50px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.parrafo{
    display: grid;
    margin: 50px;
    place-items: center;
    text-align: justify;
    font-size: 50px;
    font-family: "Charm", cursive;
    color: rgba(0, 0, 0, 0.75)
}


/* Estilos del Footer */
.footer{
    background-color: #59595a;
    padding: 50px 0;
}
.container_footer{
    max-width: 100%;
    margin: 0 auto;
}
.footer_row{
    display: flex;
    flex-wrap: wrap;
}
.footer_links{
    width: 33%;
    padding: 0 80px;
}
.footer_links p {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}
.footer_links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer_links ul li:hover{
    color: white;
    padding-left: 6px;
}
.footer_links li{
    font-size: 18px;
    color: #BBBBBB;
    list-style: none;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.social-links a:hover{
    background-color: #00C3FF;
}
