@import url('https://fonts.googleapis.com/css2?family=Allura&family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Doto:wght@100..900&display=swap');
*{
    box-sizing: border-box;   
}

 
/* estilos del body*/
body{
    font-family: Arial;
    margin: 0;
}


/* estilos del header */
header{   
    position: sticky; 
    top: 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}
.imgLogo{
    width: 250px;
    height: 250px;
    border-radius: 60%;
}
h1{
    font-family: allura;
    font-size: 100px;
    font-weight: 500;    
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* estilos de la barra de navegacion */
nav{
    position: sticky;
    top: 259px;
    display: flex;
    background-color: white;
    background-image: linear-gradient(rgba(250, 235, 215, 0.43), black);
}
nav a{
    color: white;
    padding: 25px 20px;
    text-decoration: none;
    
}
/* Indica en que seccion de la pagina que estamos situados */
.aqui{
    color: white;
    background-image: linear-gradient(white, rgba(250, 235, 215, 0.43));
    color: black;
}
/* Cambio de color del la barra de navegacion */
nav a:hover{
    background-image: linear-gradient(white, rgba(31, 31, 31, 0.25));
    color: black;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos de la seccion principal del index.html */
section h2{
    text-align: center;
    font-family: "Charm", cursive;
    font-size: 70px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.negrita{
    font-weight: bold;
}
.container{
    display:grid;
    grid-template-columns: 800px 1fr ;
    padding:  0px 50px 150px 50px;

}
.item-a{
    grid-row: 1 / 3;
}
.container img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    padding: 50px;
    padding-top: 10px;
}
/* separador */
.separador{
    max-width: 80%;
    padding-left: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}
/* Estilos de la segunda seccion principla */
.SECCION_2Index{
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 300px;
}
.imgsecundaria{
    height: 900px;
    float: left;
}
.parrafoIndex{
    padding-left: 100px;
    display: grid;
    place-items: center;
    text-align: justify;
    font-size: 70px;
    font-family: "Charm", cursive;
    color: rgba(0, 0, 0, 0.6);
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos seccion principal de servicios.html */
.segSeccion{
    max-width: 100%;
}
.segSeccion :last-child{
    border-bottom: none;
}
.titulo{
    padding: 30px 0 100px 0;
    text-align: center;
    font-size: 100px;
    font-family: "Charm", cursive;
    border-bottom: 4px solid black;
}
.info{
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 2px solid black;
}
.imgInfo{
    margin:  50px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    object-fit: cover;
}
.parrafoServicios{
    display: grid;
    margin: 50px;
    place-items: center;
    text-align: justify;
    font-size: 50px;
    font-family: "Charm", cursive;
    color: rgba(0, 0, 0, 0.75)
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos del contenedor Presupuesto.html */
.contenedorPresupuesto{
    margin: 50px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px;
}
.informacion{
    margin-top: auto;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-family: "Charm", cursive;
    background-color: #24303c2a ;
    border-radius: 10px;
}
/* Estilos del formulario */
.form-pres{
    margin: auto;
    width: 800px;
    background: #24303c;
    padding: 30px;
    padding-top:px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    
}
.form-pres h4{
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}
.celda{
    width: 100%;
    background: #24303c;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 2px solid gray;
    font-size: 30px;
    color: white;
}
.check{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.textarea{
    width: 100%;
    height: 200px;
    background: #24303c;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 2px solid gray;
    font-size: 30px;
    color: white;
}

.terminos{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
.form-pres p{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.form-pres a{
    color: white;
    text-decoration: none;
}
.form-pres a:hover{
    color: white;
    text-decoration: underline;
}

.btnEnviar{
    width: 100%;
    background: #1f53c5;
    color: white;
    padding: 12px;
    font-size: 30px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos del contenedor Contacto.html */
h2{
    padding: 20px 0 100px 0;
    text-align: center;
    font-size: 100px;
    font-family: "Charm", cursive;
    border-bottom: 4px solid black;
}
.contenedorContatcto{
    display: flex;
    margin: 50px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px
}

.informacionContacto{
    max-width: 25%;
    margin: auto;
    object-fit: cover;
    text-align: justify;
    font-size: 50px;
    font-family: "Charm", cursive;
    
}

.mapa{
    margin: auto;
    object-fit: cover;
    box-shadow: 7px 13px 37px #000;
}


/* Estilos del formulario Contacto */
.form-registroContacto{
    width: 600px;
    background: #24303c;;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-registroContacto h4{
    font-size: 44px;
    margin-bottom: 20px;
}
.celda{
    width: 100%;
    background: #24303c;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 2px solid gray;
    font-size: 20px;
    color: white;
}
.form-registroContacto p{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.form-registroContacto a{
    color: white;
    text-decoration: none;
}
.form-registro a:hover{
    color: white;
    text-decoration: underline;
}
.form-registroContacto .boton-registroContacto{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 20px 0;
    font-size: 20px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos del Footer */
.footer{
    background-color: #59595a;
    padding: 50px 0;
}
.container_footer{
    max-width: 100%;
    margin: 0 auto;
}
.footer_row{
    display: flex;
    flex-wrap: wrap;
}
.footer_links{
    width: 33%;
    padding: 0 80px;
}
.footer_links p {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}
.footer_links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer_links ul li a:hover{
    color: white;
    padding-left: 6px;
}
.footer_links li{
    font-size: 18px;
    color: #BBBBBB;
    list-style: none;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.social-links a:hover{
    background-color: #00C3FF;
}