@import url('https://fonts.googleapis.com/css2?family=Allura&family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Doto:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 1500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    background-image: url(./../assets/cabecera/IMAGEN-LOGO.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: 1000px 1000px;
    background-position: center;
    background-position-y: 600px;
}



/*****************************************HEADER STYLES************************************/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
header img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
header h1{
    margin-right: 30px;
    font-family: allura;
    font-size: 60px;
    font-weight: 500;    
}


/*****************************************NAV STYLES************************************/
nav{
    display: flex;
    background-image: linear-gradient(rgba(250, 235, 215), black);
    position: sticky;
    top: 120px;
    justify-content: center;
}
nav a{
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    
}
nav a:hover{
    background-color: #000;
    border-radius: 5px;
}
.aqui{
    background-image: linear-gradient(white, rgba(129, 120, 110, 0.43));
    color: black;
    border-radius: 5px;
}




/*****************************************MAIN STYLES************************************/
main{
    display: flex;
    flex-direction: column;
    width: 1500px;
}
main h2{
    padding: 20px;
    text-align: center;
    font-family: "Charm", cursive;
    font-size: 2.5rem;
    color: rgb(75, 75, 75);
}
.uno{
    padding-top: 30px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

}
main section div{
    display:grid;
    grid-template-columns: 1fr 3fr ;
    padding: 10px;
}
.item-a{
    grid-row: 1 / 2;
}
main section div img{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}
.dos{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    border-top: 1px solid;
}
main .dos div{
    display: flex;
    justify-content: center;
}
main .dos div img{
    width: 250px;
    box-shadow: 7px 13px 37px #000;
    object-fit: cover;
}
main .dos div p{
    width: 60%;
    margin-left: 90px;
    display: flex;
    place-items: center;
    text-align: justify;
    font-size:2rem;
    font-family: "Charm", cursive;
    color: rgba(0, 0, 0, 0.65);   
}
main .tres{
    padding-top: 70px;
    margin-bottom: 70px;
    border-top: 1px solid;    
}
main .tres div{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
main .tres div article{
    display: flex;
    flex-direction: column;
    text-align: center;
}
main .tres div img{
    width: 200px;
    height: 200px;
}


/***************************************** FOOTER ************************************/

footer{
    background-color: #59595a;
    display: flex;
    justify-content: space-around;
}
footer div{
    padding: 20px 0 40px;
}
footer div h3{
    width: 160px;
    color: white;
    padding: 20px 0 5px 0;
    border-bottom: 2px solid #00C3FF;
    margin-bottom: 20px;
    text-align: center;
}
footer div a i{
    background-color: rgba(255,255,255,0.2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    padding: 13px;
}
footer div p{
    color: white;
}
footer div a{
    color: white;
    text-decoration: none;
}


@media (max-width:600px){
    body{
        width: 100vh;
    }
    header{
        display: flex;
        flex-direction: column-reverse;
        position: static;
    }
    nav{
        position: static;
        flex-direction: column;
        text-align: center;
        
    }
    main{
        width: 100vh;
        background-image: none;
    }
    main .uno h2{
        width: 600px;
    }
    main .uno div .item-a{
        display: none;
    }
    main .uno div{
        display: flex;
        width: 100vh;
        justify-content: center;
    }
    main .uno div img{
        width: 100%;
    }
    main .dos div img{
        display: none;
    }
    main .dos div p{
        width: 80%;
        margin: 0;
        text-indent: 40px;
    }
    main .tres div{
        flex-direction: column;
    }
    main .tres div article{
        margin: 20px 0;
    }
    main .tres div h4{
        display: none;
    }
    footer{
        width: 100vh;
        flex-direction: column;
        text-align: center;
    }
    footer div{
        justify-items: center;
    }
}
