<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Hermosas By Yane</title>
</head>
<body>
    <!-- HEADER -->
    <nav class="navbar">
        <div>
            <h1>Hermosas By Yane</h1>
            <img class="logo" src="./../assets/cabecera/IMAGEN-LOGO.jpg" alt="">
        </div>
        <input type="checkbox" id="check-menu" class="check-menu">
        <ul class="nav-links">
            <li><a href="./../index.html">Inicio</a></li>
            <li><a href="./../views/servicios.html">Servicios</a></li>
            <li><a class="aqui" href="./../views/presupuesto.html">Presupuesto</a></li>
            <li><a href="./../views/contacto.html">Contacto</a></li>
            <li><a href="./../views/productos.html">Productos</a></li>
        </ul>
        <label for="check-menu" class="label-check">
            <img class="menu-hamburguesa" src="./../assets/cabecera/menu.svg" alt="img menu" width="60" height="60">
        </label>
    </nav>
    <!--Seccion Principal-->
    <section class="contenedorPresupuesto">
        <div>
            <p class="informacion">
                Si te gustaria tener una información mas precisa de nuentros productos y servicios, dejanos saber todas tus dudas en el siguiente formulario.
            </p>
        </div>
        <!-- formulario de presupuesto -->
        <div class="contenedor">
            <h1 class="titulo">PRESUPUESTO</h1>
    
            <form class="form" id="formulario">
                <div class="input-contenedor">
                    <label for="nombre">Nombre y apellido</label>
                    <input type="text" id="nombre"  name="nombre">
                    <span class="error" id="nombreError"></span>
                </div>
                <div class="input-contenedor">
                    <label for="telefono">Telefono</label>
                    <input type="text" id="telefono" name="telefono">
                    <span class="error" id="telefonoError"></span>
                </div>
                <div class="input-contenedor">
                    <label for="email">Email</label>
                    <input type="email" id="email"  name="email">
                    <span class="error" id="emailError"></span>
                </div>
                <div class="input-contenedor">
                    <label for="contrasena">Mensaje</label>
                    <textarea id="contrasena"  name="contrasena" rows="3" placeholder="Escriba aqui su comentario"></textarea>
                    <span class="error" id="contrasenaError"></span>
                </div>
                <div class="button-contenedor">
                    <button type="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <div>
            <h3>Nuestras Redes</h3>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <h3>Contactos</h3>
            <p>Telefono Local</p>
            <p>Telefono Movil</p>
        </div>
        <div>
            <h3>Ubicanos</h3>
            <p>Av. de Catalunya, 44, local 2B, 08917 Badalona, Barcelona</p>
            <a href="https://www.google.com/maps/place/Hermosas+by+yane/@41.449293,2.2280487,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4bbcbfd74d391:0xc00b3490889d9a66!8m2!3d41.449293!4d2.2306236!16s%2Fg%2F11vpvbbpv5?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D">Ir a Google Maps</a>
        </div>
    </footer>

    <script src="./../js/validarFormulario.js"></script>

</body>
</html>