<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../estilos.css/estilosIndex.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" type="image/jpg" href="./../assets/cabecera/IMAGEN-LOGO.jpg">
    <title>Hermosas By Yane/Presupuesto</title>
</head>


<body>


    <!-- HEADER -->
    <header>
        <h1 class="allura-regular">Hermosas By Yane</h1>
        <img class="imgLogo" src="./../assets/cabecera/IMAGEN-LOGO.jpg" alt="Logo" width="714" height="755">
    </header>


    <!--Navigation Bar-->
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="../html/servicios.html">Servicios</a>
        <a class="aqui" href="../html/presupuesto.html">Presupuesto</a>
        <a href="../html/contacto.html">Contactos</a>
        <a href="../html/productos.html">Productos</a>
    </nav>


    <!--Seccion Principal-->
    <section class="contenedorPresupuesto">
        <div>
            <p class="informacion">
                Si te gustaria tener una información mas precisa de nuentros productos y servicios, dejanos saber todas tus dudas en el siguiente formulario.
            </p>
        </div>


        <!-- formulario de presupuesto -->
        <div class="container-pres">
            <h2>Presupuesto</h2>
            <form action="#" name="form-presupuesto" id="form-presupuesto" method="get" target="_self">
                <ul class="lista-principal">
                    <li>
                        <label for="nombre-pres">Nombre</label>
                        <input type="text" id="nombre-pres" name="nombre-pres" placeholder="Escriba su nombre"
                        pattern="[A-Z a-z]{3,15}" title="Aqui debes escribir tu nombre" autofocus required>
                    </li>
                    <li>
                        <label for="apellido-pres">Apellido</label>
                        <input type="text" id="apellido-pres" name="apellido-pres" placeholder="Escriba su apellido"
                        pattern="[A-Z a-z]{3,15}" title="Aqui debes escribir tu apellido" required>
                    </li>
                    <li>
                        <label for="correo-pres">Correo electronico</label>
                        <input type="email" id="correo-pres" name="correo-pres" placeholder="Escriba su correo electronico"
                        pattern="[A-Za-z0-9_-.]+@[A-Za-z0-9_-.]+\.[a-z]{2,4}" title="Aqui debes escribir tu correo" required>
                    </li>
                    <li>
                        <label for="surname">Telefono</label>
                        <input type="tel" id="telephono" name="telephono" placeholder="Escriba su Telefono" pattern="[0-9]{9}" title="escriba los nueve numeros de su telefono movil" required>
                    </li>
                    <li>
                        <label for="message">Mensaje</label>
                        <textarea name="message" id="message" rows="6" placeholder="escriba su comentario"></textarea>
                    </li>
                    <li class="check-term">
                        <input type="checkbox" id="check-term" name="check-term">
                        <p>Acepto los <a href="#">Terminos y condiciones</a></p>
                    </li>
                    <li>
                        <button type="submit">Enviar</button>
                    </li>
                </ul>
            </form>
        </div>
    </section>


    <!--Footer-->
    <footer class="footer">
        <div class="container_footer">
            <div class="footer_row">
                <div class="footer_links">
                    <p>Nuestras Redes</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="footer_links">
                    <p>Contactos</p>
                    <ul>
                        <li>Telefono Local</li>
                        <li>Telefono Movil</li>
                    </ul>
                </div>
                <div class="footer_links">
                    <p>Ubicanos</p>
                    <ul>
                        <li>Av. de Catalunya, 44, local 2B, 08917 Badalona, Barcelona</li>
                        <li><a href="https://www.google.com/maps/place/Hermosas+by+yane/@41.449293,2.2280487,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4bbcbfd74d391:0xc00b3490889d9a66!8m2!3d41.449293!4d2.2306236!16s%2Fg%2F11vpvbbpv5?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D">Ir a Google Maps</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>