<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Hermosas By Yane3</title>
</head>
<body>
    <!-- HEADER --> 
    <nav class="navbar">
        <div>
            <h1>Hermosas By Yane</h1>
            <img class="logo" src="./../assets/cabecera/IMAGEN-LOGO.jpg" alt="">
        </div>
        <input type="checkbox" id="check-menu" class="check-menu">
        <ul class="nav-links">
            <li><a href="./../index.html">Inicio</a></li>
            <li><a href="./../views/servicios.html">Servicios</a></li>
            <li><a href="./../views/presupuesto.html">Presupuesto</a></li>
            <li><a href="./../views/contacto.html">Contacto</a></li>
            <li><a class="aqui" href="./../views/productos.html">Productos</a></li>
        </ul>
        <label for="check-menu" class="label-check">
            <img class="menu-hamburguesa" src="./../assets/cabecera/menu.svg" alt="img menu" width="60" height="60">
        </label>
    </nav>
    <!-- MAIN PRODUCTOS --> 
    <section class="galeria">
        <h2>Algunos de nuestros trabajos</h2>
        <div>
            <img src="./../assets/galeria/G1.webp" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G2.webp" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G3.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G4.jpeg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G5.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G6.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G7.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G8.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G9.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G10.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G11.JPG" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G12.png" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G13.webp" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G14.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G15.webp" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G16.webp" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G17.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G18.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G19.jpg" alt="ojos" width="200" height="200">
            <img src="./../assets/galeria/G20.jpg" alt="ojos" width="200" height="200"> 
        </div>
    </section>
    <!--footer-->
    <footer>
        <div>
            <h3>Nuestras Redes</h3>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <h3>Contactos</h3>
            <p>Telefono Local</p>
            <p>Telefono Movil</p>
        </div>
        <div>
            <h3>Ubicanos</h3>
            <p>Av. de Catalunya, 44, local 2B, 08917 Badalona, Barcelona</p>
            <a href="https://www.google.com/maps/place/Hermosas+by+yane/@41.449293,2.2280487,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4bbcbfd74d391:0xc00b3490889d9a66!8m2!3d41.449293!4d2.2306236!16s%2Fg%2F11vpvbbpv5?authuser=0&entry=ttu&g_ep=EgoyMDI0MTIwMi4wIKXMDSoASAFQAw%3D%3D">Ir a Google Maps</a>
        </div>
    </footer>
</body>
</html>
